{{{title}}} {{{type}}}
<div class="container">
 <div class="row">
<button id="startStreamBtn" class="btn btn-default btn-success">Start stream</button>
<button id="stopStreamBtn" class="btn btn-default btn-success">Stop stream</button>
</div>
 <div class="row">
<button id="takePictureBtn" class="btn btn-default btn-success">Take snapshot</button>

<a id="downloadBtn" download="Canvas.png"  class="btn btn-default btn-info" href="#">Save snapshot</a>

</div>
 <div class="row">
<button id="serverBtn" class="btn btn-default btn-success">SetServer</button>
<input id="inputServer" type="text"/>
</div>
  <div class="row">
    <div class="col">
     <button id="startRecordingBtn" class="btn btn-default btn-success">Start recording</button>

<a id="downloadRecordingBtn" download="Canvas.webm"  class="btn btn-default btn-success" href="#">Download recording</a>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <video autoplay></video>
    </div>
    <div class="col-sm-6">
   	<canvas></canvas>
    </div>
  </div>
</div>
    




<script src="js/main.js"></script>